<html>

<head>
    <title> Sistema de Ingreso </title>

<body>
    <H1> Mantenimientos </H1>
    <HR>
    <UL>
        <LI> <a href=/producto>Productos</a> </LI><P>
        <LI> <a href=/empleado>Empleados</a> </LI><P></P>
    </UL>
</body>

</html>
